<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}ПрофИнструмент - официальный представитель компании Мастер-Инструмент{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('css/price-range.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
	<link href="{{ asset('css/main.css') }}" rel="stylesheet">
	<link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
	{% block head_css %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
    {% block head_js %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('images/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/ico/apple-touch-icon-57-precomposed.png') }}">
</head><!--/head-->

<body>
	{% block full_body %}
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> (863) 244-94-04, 244-94-51, +7&nbsp;(938)&nbsp;1111-505</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> proftools@aaanet.ru</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="logo pull-left">
							<a href="{{ path('homepage') }}"><img src="{{ asset('images/home/proftools.png') }}" alt="Профинструмент" /></a>
						</div>						
					</div>
					<div class="col-sm-6">
						<div class="logo pull-right">
							<img src="{{ asset('images/home/mi_logo.png') }}" alt="Hans" style="margin-top: 15px" />
						</div>						
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="{{ path('homepage') }}"{% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}>Главная</a></li>
								<li><a href="{{ path('view_contacts') }}"{% if app.request.get('_route') == 'view_contacts' %} class="active"{% endif %}>Контактная информация</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	{% block wide_page_content %}
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Каталог</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for treeItem in htmlTree %}
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										{% if treeItem.__children|length > 0 %}
											<a data-toggle="collapse" data-parent="#accordian" href="#{{ treeItem.externalId }}">
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
										{% else %}
											<a href="{{ path('view_category', {"categoryId": treeItem.id}) }}">
										{% endif %}
											{{ treeItem.title }}
											</a>
										</h4>
									</div>
									{% if treeItem.__children|length > 0 %}
									<div id="{{ treeItem.externalId }}" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												{% for child in treeItem.__children %}
													<li><a href="{{ path('view_category', {"categoryId": child.id}) }}">{{ child.title }} </a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
									{% endif %}
								</div>
							{% endfor %}
						</div><!--/category-products-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					{% block page_content %}{% endblock %}
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
	<footer id="footer"><!--Footer-->
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">						
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<a href="{{ path('homepage') }}"><h2>Главная</h2></a>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<a href="{{ path('view_contacts') }}"><h2>Контакты</h2></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">© {{ "now" | date('Y') }} ООО &laquo;Профинструмент&raquo;</p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	{% endblock full_body %}


	<script src="{{ asset('js/jquery.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/jquery.scrollUp.min.js') }}"></script>
	<script src="{{ asset('js/price-range.js') }}"></script>
    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    {% block bottom_js %}{% endblock %}
</body>
</html>