{% extends 'AppBundle::baseTemplate.html.twig' %}

{% block head_js %}
	<!-- <script src="http://maps.google.com/maps-api-v3/api/js/23/2/intl/ru_ALL/common.js" charset="UTF-8" type="text/javascript"></script>
	<script src="http://maps.google.com/maps-api-v3/api/js/23/2/intl/ru_ALL/util.js" charset="UTF-8" type="text/javascript"></script>
	<script src="http://maps.google.com/maps-api-v3/api/js/23/2/intl/ru_ALL/stats.js" charset="UTF-8" type="text/javascript"></script> -->
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>	    			    				    				
{% endblock %}

{% block wide_page_content %}
<div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			
					<h2 class="title text-center">как нас найти</h2>					
					<div id="ymap" style="display: block; width: 1140px; height: 385px; margin-bottom: 40px;"></div>
				</div>			 		
			</div>    	
    		<div class="row">  	
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">обратная связь</h2>
	    				{% set errorFlashMessage = app.session.flashbag.get('error') %}
	    				{% set successFlashMessage = app.session.flashbag.get('success') %}
	    				{% if errorFlashMessage is not empty %}
	    					<div class="status alert alert-danger">
	    						{% for flashMessage in errorFlashMessage %}
	    							{{ flashMessage }}
	    						{% endfor %}
	    					</div>
	    				{% endif %}
	    				{% if successFlashMessage is not empty %}
	    					<div class="status alert alert-success">
	    						{% for flashMessage in successFlashMessage %}
	    							{{ flashMessage }}
	    						{% endfor %}
	    					</div>
	    				{% endif %}
				    	<form id="main-contact-form" class="contact-form row" name="contact-form" method="post" action="{{ path('view_contacts') }}">
				            <div class="form-group col-md-6">
				            	{{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': "Ваше имя"} }) }}
				                <!-- <input name="name" class="form-control" required="required" placeholder="Ваше имя" type="text"> -->
				            </div>
				            <div class="form-group col-md-6">
				            	{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': "Email"} }) }}
{# 				                <input name="email" class="form-control" required="required" placeholder="Email" type="email">#}
				            </div>
				            <div class="form-group col-md-12">
				            	{{ form_widget(form.subject, { 'attr': {'class': 'form-control', 'placeholder': "Тема"} }) }}
{# 				                <input name="subject" class="form-control" required="required" placeholder="Тема" type="text">#}
				            </div>
				            <div class="form-group col-md-12">
				            	{{ form_widget(form.message, { 'attr': {'class': 'form-control', 'placeholder': "Текст сообщения", 'rows': 8 } }) }}
{# 				                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Текст сообщения"></textarea>#}
				            </div>                        
				            <div class="form-group col-md-12">
				                <input name="submit" class="btn btn-primary pull-right" value="Отправить" type="submit">
				            </div>
				            {{ form_rest(form) }}
				        </form>
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Контакты</h2>
	    				<address>
	    					<p><strong>Главный офис</strong></p>
							<p>г. Ростов-на-Дону</p>
							<p>Рабочая площадь, 25</p>
							<p>(863) 244-94-04</p>
							<p>(863) 244-94-51</p>
							<p>Email: prof-tools@aaanet.ru</p>
	    				</address>
	    				<div class="social-networks">
	    					<h2 class="title text-center">мы в сети</h2>
							<ul>
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-youtube"></i></a>
								</li>
							</ul>
	    				</div>
	    			</div>
    			</div>    			
	    	</div>  
    	</div>	
    </div>
{% endblock %}

{% block bottom_js %}
	<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<script type="text/javascript" src="{{ asset('js/gmaps.js') }}"></script>
	<script src="{{ asset('js/contact.js') }}"></script> -->
	<script type="text/javascript">
		if (!window.myGeoObjects) {
        	var myGeoObjects = new Array();
    	}
    	myGeoObjects.push([ 47.214964,39.664863 ]);
    	myGeoObjects.push([ 47.234424,39.612653 ]);
    	myGeoObjects.push([ 47.274162,39.822023 ]);

    	if (!window.ccOfficesAddress) {
        	var ccOfficesAddress = new Array();
    	}
    	ccOfficesAddress.push('Главный офис, Рабочая площадь, 25');
    	ccOfficesAddress.push('ул. Малиновского, 33 - авторынок &laquo;Фортуна&raquo;  пав 107');
    	ccOfficesAddress.push('Авторынок &laquo;Алмаз&raquo;, магазин №13, 4 ряд');
    	
	    ymaps.ready(init);
	    var myMap;
	
	    function init(){
	        if (window.myGeoObjects) {
	            myMap = new ymaps.Map("ymap", {
	                center: [47.244138,39.732555],
	                zoom: 11,
	                controls: ["zoomControl"]
	            });
	            for($aindex=0;$aindex<myGeoObjects.length;$aindex++) {
	                myGeoObject = new ymaps.GeoObject({
	                    // Описание геометрии.
	                    geometry: {
	                        type: "Point",
	                        coordinates: [myGeoObjects[$aindex][0],myGeoObjects[$aindex][1]]
	                    },
	                    // Свойства.
	                    properties: {
	                        // Контент метки.
	                        iconContent: 'Профинструмент',
	                        hintContent: ccOfficesAddress[$aindex]
	                    }
	                }, {
	                    // Опции.
	                    // Иконка метки будет растягиваться под размер ее содержимого.
	                    preset: 'islands#blackStretchyIcon',
	                    // Метку низя перемещать.
	                    draggable: false
	                });
	                
	                myMap.geoObjects.add(myGeoObject);
	            }
	            /*var rcHeight = $('.main-content-wrapper .rcol').height();
	            var lcHeight = $('.main-content-wrapper .lcol').height();
	            if (rcHeight > lcHeight) {
	                $('.main-content-wrapper .lcol').height(rcHeight);
	            } else {
	                $('.main-content-wrapper .rcol').height(lcHeight);
	            }*/
	        }
	    }
	</script>
{% endblock %}