{% extends 'AppBundle::baseTemplate.html.twig' %}

{% block page_content %}
<div class="product-details"><!--product-details-->
	<div class="col-sm-5">
		<div class="view-product">
			<div style="background:url({{ asset(product.image) }}) center center no-repeat; width: 330px; height: 330px; margin: 0 auto;background-size: contain;"></div>
		</div>
	</div>
	<div class="col-sm-7">
		<div class="product-information"><!--/product-information-->
			<h2>{{ product.title }}</h2>
			<p>Артикул: {{ product.externalId }}</p>			
			<span>
				<span>{{ product.price }}&nbsp;руб.</span>
			</span>
		</div><!--/product-information-->
	</div>
</div>
<div class="category-tab shop-details-tab"><!--category-tab-->
	<div class="col-sm-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#details" data-toggle="tab">Детальное описание</a></li>
		</ul>
	</div>	
	<div class="tab-content">
		<div class="tab-pane fade active in" id="reviews">			
			<p>{{ product.description }}</p>
		</div>
	</div>
</div>
{% endblock %}