{% extends 'AppBundle::baseTemplate.html.twig' %}

{% block page_content %}
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">{{ category.title }}</h2>
						{% for product in categoryProducts %}
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<div style="background:url({{ asset(product.image) }}) center center no-repeat; width: 255px; height: 237px; margin: 0 auto;background-size: contain;"></div>
											<h2>{{ product.price }} руб.</h2>
											<p><a href="{{ path('view_product', {"productId": product.id}) }}" title="{{ product.title }}">{{ product.title | truncate(50) }}</a></p>
										</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div><!--features_items-->
{% endblock %}